.botao{
    border-style: none;
    height: 40px;
    padding: 6px 12px;
    cursor: pointer;
}

#cadastrarCliente{
    background-color: #FEAF00;
    color: white;
}

#botoes>button{
    background-color: var(--branco);
}

button:hover{
    box-shadow:  2px 2px 2px 1px rgba(0, 0, 0, 0.2);;
}

